*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro{
  margin: 0;
  padding: 0;
  background: black; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  */
   
  
}

.App_con{
  display: flex;
  flex-direction: column;
}

@media(max-width:700px){
  *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
}